
/****************/

@media (max-width: 400px){
    .bg-under{
        top: 0;
        right: 0;
        overflow: hidden;
        width: unset;
    }

    .bg-second {
        width: 100%;
        overflow: hidden;
    }

    .desktop{
        display: none;
    }
    .about-img-mobile{
        border-radius: 50%;
        width: 320px;
        height: auto;
    }
    .portfolio{
        display: block;
    }
    section#about {
        margin-top: -192px;
    }
    .header-content.container {
        margin-top: -100px;
    }
    .glow{
        color: #fff;
        /* -webkit-animation: glow 2s ease-in-out infinite alternate;
        -moz-animation: glow 500ms ease-in-out infinite alternate; */
        animation: glow 1000ms ease-in-out infinite alternate;
    }
}

@media (min-width: 401px){
    
.about-img-mobile{
    display: none;
}
}

.about-img {
    width: 320px !important;
    height: auto;
}